@media(min-width: 768px){ // används för bättre visning på mobil displays i login menyn
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .login-container{
        max-width: 500px;
    }
}
